
.button {
    background-color: #3D9DB3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  
  /* Apenas para teste: mudar o botão quando o mouse passar */
  .button:hover {
    background-color: #36646d;
  }
  