
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../public/img/imgfundo.avif');
    background-size: cover;

    backdrop-filter: blur(30px);
}